

/* ==========================================================================
   GENERAL STYLES
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');


*, p {
    font-size: 16px;
    font-family: 'Ubuntu', sans-serif;
}

p, 
.form-check > label
/* a#toggle-pwd */
{
    color: #aaa;
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 32px;
    line-height: 42px;
    font-weight: bold;
}

body {
    padding-bottom: 20px;
}

#idx_member,
#idx_registrasi
 {
    padding:140px 0 0 0;
}

section {
    overflow-x: hidden !important;
}

html {
    scroll-behavior: smooth;
}

.btn-idx-md {
    background-color: #0184B5;
    border-radius: 40px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    padding: 10px 40px;
    font-size: 22px;
}

.btn-idx-md:hover {
    color: #fff;
    background-color: rgb(5, 149, 201);
}

.form-group label:not(.form-check-label) {
    font-weight: bold;
}

.iti.iti--allow-dropdown {
    width: 100%;
}

/* ==========================================================================
   IDX HEADER
   ========================================================================== */

.navbar {
    background-color: transparent;
    margin:0;
    padding-top: 20px;
    transition: background-color .8s;
    transition: padding-top .8s;
}

.navbar .dropdown-menu.show {
    min-width: 100px;
}

nav.scrolled {
    background-color: white !important;
    opacity: 0.9;
    padding-top: 5px !important;
}

.idx_logo {
    max-height: 40px;
    width: 200px;
}

/* ==========================================================================
   IDX CTA
   ========================================================================== */

#idx_cta .jumbotron {
    background: url(../img/bitcoin/idx-cta.png) no-repeat top center;
    min-height: 780px;
    background-size: cover;
}

ul.lead {
    list-style-type: none;
    padding: 0px;
}

ul.lead li {
    padding: 8px;
    font-size: 20px;
    font-family: 'Ubuntu', sans-serif;
}

ul.lead li img {
    padding-right: 10px;
}

#idx_cta h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;
}

#idx_cta .cta-logo > img {
    height: 45px;
    margin-left: 5px;
}
/* ==========================================================================
   IDX REGISTRASI
   ========================================================================== */

#idx_registrasi {
    background: url(../img/bitcoin/bg-resigtrasi.png) no-repeat bottom center;
    min-height: 780px;
    background-size: contain;
}

.idx_indonesianflag {
    background:url(../img/idx_indonesianflag.svg) no-repeat center center;
    text-indent: -9999px;
    width: 40px;
    position: relative;    
}
/* ==========================================================================
   IDX FITUR
   ========================================================================== */

#idx_fitur {
    padding: 60px 0 140px 0;
}

#idx_fitur .card img {
    padding: 30px;
    position: relative;
    left: 20px;
    top: 10px;
}

#idx_fitur .card {
    min-height: 210px;
    border: 0px;
}

.idx_fiturcard {
    padding: 20px 15px;
    background: url(../img/idx_fiturcardbg.svg) no-repeat top left;
}

.fiturcard_title {
    margin: 20px 0 40px;
}

#idx_fitur h5 {
    font-weight: bold;
    font-family: 'Ubuntu', sans-serif;
}
.idx_footersosmed ul {
    list-style-type: none;
    padding: 0;
    width: 400px;
    margin: 0 auto 0;
}

.card-footer .card-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 14px;
}

.card-footer .card-subtitle {
    font-size: 13px;
}

.idx_footersosmed {
    margin: 50px 0 80px;
}
.idx_footersosmed h4 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    padding-bottom:10px;
}

#idx_member {
    min-height: 700px;
    background-image: url(../img/idx_bgmember2.png), url(../img/idx_bgmember.png);
    background-repeat: no-repeat, no-repeat;
    background-position: center bottom, center bottom;
}


.idx_footersosmed ul li {
    display: inline;
    padding: 5px;
}

.btn-idx {
    background-color: #0184B5;
    border-radius: 40px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    /* font-weight: bold; */
    padding: 10px 30px;
    font-size: 26px;
}

.btn-idx:hover {
    color: #fff;
    background-color: #066F97;
}

.idx_footerlinks p {
    color: #555;
    font-size: 14px;
}

.idx_footerlinks h4 {
    font-size: 18px;
    font-weight: bold;
}

.idx_footeremail {
    width: 100px;
    position: relative;
}

.idx_disclaimer p{
    font-size: 12px;
}

.idx_headingdisclaimer {
    background: #0184B5;
    color: #fff;
    padding: 3px;
    font-size: 12px;
}

/* ==========================================================================
   IDX VIDEO
   ========================================================================== */

#idx_video {
    background: url(../img/bg-video.jpg) no-repeat bottom center;
    background-position: center;
    background-size: contain;
    padding-bottom: 100px;
}

/* ==========================================================================
   IDX TESTIMONI
   ========================================================================== */

#idx_testi {
    padding-top: 60px;
}

#idx_testi .testifirst {
    background: url(../img/idx_testifirst.svg) no-repeat 0px 80px;
    z-index: -1;
    background-size: 250px;
} 

#idx_testi h2 {
    top: 40%;
    position: relative;
}

#idx_testi .personal-data {
    padding-left: 20px;
    margin-top: -80px;
}
  
#idx_testi .card p {
    color: #0184B5;
}

#idx_testi img.card-arrow {
    position: absolute;
    bottom: -25px;
    right: 100px;    
}

.idx_testipic img {
    border-radius: 50%;
    width: 180px;
    max-height: 180px;
    z-index: 9;
    margin-bottom: 45px;
}

#idx_testi .card {
    top: -100px;
    z-index: -1;
    padding-top: 30px;
    border: 2px solid #C6EEFF;
    border-radius: 30px;
}

#idx_testi .card .card-footer {
    background: transparent;
    border: 0px;
}

/* ==========================================================================
   IDX MEMBER
   ========================================================================== */
#idx_member h2 {
    color: #0184B5;
}

/* ==========================================================================
   IDX MOBILE
   ========================================================================== */

@media (max-width: 576px) {

    .navbar-nav .dropdown-menu {
        position: absolute;
    }
    .navbar .dropdown-menu.show {
        left: -40px;
    }
    #idx_cta h1 {
        font-size: 30px;
        line-height: 45px;
    }
    ul.lead li {
        padding: 4px;
        font-size: 17px;
    }
    #idx_cta .jumbotron {
        background: url(../img/bitcoin/idx-cta-mobile.png) no-repeat top center;
        background-position: center;
        background-size: cover;
    }
    #idx_cta .cta-logo > img {
        height: 40px;
        margin-top: 10px;
    }
    .btn-idx {
        font-size: 15px;
    }
    .idx_fiturcard .card.mb-5.mr-3, .idx_fiturcard .card.mb-3.mr-3 {
        margin-right: 0px !important;
    }
    .idx_fiturcard .card.mb-5.ml-3, .idx_fiturcard .card.mb-3.ml-3 {
        margin-left: 0px !important;
    }
    #idx_fitur {
        padding: 0;
    }
    #idx_fitur .card img {
        padding: 0;
        margin-top: 20px;
    }
    #idx_testi h2 {
        top: -30px;
    }
    .idx_footersosmed ul li {
        padding: 2px;
    }
    .idx_footersosmed ul {
        width: 100%;
    }

    #idx_registrasi {
        padding: 0;
        background: none;
    }

    #idx_video {
        background-size: cover;
        padding-top: 30px;
    }
    #idx_testi img.card-arrow {
        right: 50px;    
    }
    #idx_testi .personal-data {
        margin-bottom: 20px;
    }

    #idx_member {
        background-size: contain;
        padding-top: 60px;
        min-height: 620px;
    }
}

/* ==========================================================================
   WIDE SCREEN
   ========================================================================== */
@media (min-width: 1680px) {
    #idx_cta .jumbotron {
        min-height: 900px;
    }   
}

@media (min-width: 1920px) {
    #idx_cta .jumbotron {
        min-height: 900px;
    }   
}

/* ==========================================================================
   additional media query
   ========================================================================== */

